* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    background-color: black;
    height: calc(100vh - 100px);
}

nav {
    background-color: rgb(31, 31, 31);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* view type buttons */
.view-type {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}
.view-type a {
    text-decoration: none;
    color: white;
    background-color: rgb(58, 58, 58);
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.view-type .fa-th-large {
    padding-right: 10px;
}

/* webcam section start */
#main-container {
    display: flex;
    flex-direction: row;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    color: white;
    font-size: 50px;
    margin: 0px 30px;
    /* debug */
/*     border: solid white; */
}
.arrow div {
    font-size: 25px;
}
.arrow a {
    text-decoration: none;
    color: rgb(58, 58, 58);
}
.arrow a:hover {
    color:aqua;
}

/* cam section */
#cam-container {
    height: calc(100vh - 250px);
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
    
}
.cam {
    min-width: 200px;
    max-width: 10%;
    margin: 5px 5px;
    position: relative;
}
.cam img {
    max-width: 100%;
}
.cam:last-child{
    border: solid 3px yellowgreen;
}
.overlay {
    position: absolute;
    bottom: 5px;
    left: 5px;
    padding: 5px 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.459);
}
/* nav section */

/* left nav section */
.nav-lx {
    display: flex;
    margin-left: 15px;
}
.mic, .vid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* note under links */
.note {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}
/* generic style links */
nav a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    padding: 0 15px;

    display: flex;
    align-items: center;
}
.fa-chevron-up {
    font-size: 20px;
}

/* central nav section */
.nav-cx {
    display: flex;
}
.nav-opz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;  
}
.fa-desktop {
    color: white;
    border-radius: 50px;
    background-color: green;
}
.number{
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}

/* right nav section */
.nav-rx {
    background-color: rgb(66, 66, 66);
    display: flex;
    justify-content: center;
    align-items: center;
}
.end a {
    font-size: 25px;
    color: red;
    height: 100px;
    width: 100%;
}